img {
    height:400px;
    width:400px;
    border-radius:200px;
}

body {
    text-align: center;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 8px;
}

p {
    margin-left:200px;
    margin-right:200px;
}
