h1{
font-family: 'Fjalla One', sans-serif;
font-size:8em;
margin-bottom:1em;
text-align: center;
margin:auto;
}

p{
    font-family: 'Playfair Display', serif;
    width:70%;
    text-align: center;
    margin:auto;
}
